/*  */
/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {

*{
    margin: 0 auto;
    padding: 0;
}
.navbar, .banner{
    margin: 0;
}
.section-title {
    font-size: 22px;
}
.banner{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.btn-banner {
    width: 85%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.nav-logo {
    margin: 0;
}
.banner-container {
    margin: 0 auto;
    padding: 0;
}

input,
select {

    width: 85%;
}

.banner-form-container {
    width: 90%;
    background: rgba(255, 255, 255, 0.30);
}

.banner h3 {
    font-size: 22px;
    padding-top: 20px;
}

.banner-form-container,
.card-row1,
.newsletter, .place {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.banner p {
    margin-bottom: 20px;
}

nav p {

    font-size: 20px;

}
main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.destination {
    margin: 0 auto;
}
.image-collage img{
    width: 320px;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}
.row2 > div{
    width: 100%;
    height: 100%;
}
.popular{
    margin: 0 auto;
    padding: 20px;
}
.choose{
    margin: 0 auto;
}
.popular, .card-container, .card-row1, .row1, .row2, .row3 {
    display: flex;
    flex-direction: column;
}
.row1, .row2, .row3 {
   margin-bottom: 5px;
}
.popular-content, .popular-img, .card1, .card2, .card-row2{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.discount {
    margin: 0;
    padding: 20px;
}

.discount span {
    display: none;
}

.discount-card {


    width: 341px;
    height: 306px;
    position: absolute;
    top: 178px;
    right: 24px;
}

.discount img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.row1,
.row2,
.row3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;


}

.image-collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.place{
    margin: 0 auto;
}
.place-content,
.place-video {
      
        width: 100%;
        margin-bottom: 20px;
    }

.amazing {
    margin: 0 auto;
    width: 90vw;
}


.newsletter{
    margin: 0 auto;
}
.btn-text-2 {
    font-size: 16px;
}

.news-button {
    padding: 10%;
    width: 100%;
}

.news-button2 {
    left: 90px;
    width: 235px;
    height: 60px
}

.newsletter-content {
    padding: 20px;
    margin-bottom: 30px;
}

.newsletter-content,
.newsletter-img {
    width: 100%;
}
.newsletter-img img {
    margin-left: 0;
    width: 100%;  
}





    footer {
        margin: 0 auto;
         padding: 0;
        align-items: center;

    }
}